## .NET Core MVC
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
*.dbmdl
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*.ncrunch*
_ReSharper*/
*.DotSettings.user
TestResult*/
*.publish/
*.tmp
*.bak
*.swp
*.orig
project.lock.json
project.fragment.lock.json
*.ide
*.sln.ide
*.vscode/
*.coverage
*.coveragexml
*.testsettings
*.vsmdi
*.psess
*.vsp
*.dll
*.exe
*.x86
*.x64
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json
*.config
*.launch.json
*.docstates
*.pidb
*.svclog
*.scc
*.sln*
*.csproj.user
*.db
*.sqlite
*.mdf
*.ldf
*.jfm
*.ipch
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.dbmdl
*.bak
*.swp
*.orig
*.tmp
*.log
*.vs/
wwwroot/node_modules/
wwwroot/lib/
node_modules/
bower_components/
.env
.env.*
Pontius/.vs/Pontius/v17/.suo
Pontius/.vs/Pontius/v17/DocumentLayout.json
Pontius/Pontius/obj/Debug/net8.0/Pontius.AssemblyInfo.cs
Pontius/Pontius/obj/Debug/net8.0/Pontius.AssemblyInfoInputs.cache
