@{
    ViewData["Title"] = "Experiment - Start";
}

<ul>
    <li>
        Cardinal Mark North
    </li>
    <li>
        Cardinal Mark East
    </li>
    <li>
        Cardinal Mark South
    </li>
    <li>
        Cardinal Mark West
    </li>
</ul>