@{
    ViewData["Title"] = "Experiment - Start";

    

    

    var buoyTypes = new Dictionary<string, (string Description, string ImageUrl)>
    {
        { "Cardinal Mark North", ("Indicates safe water to the north.", "/images/buoys/cmn.png") },
        { "Cardinal Mark East", ("Indicates safe water to the east.", "/images/buoys/cme.png") },
        { "Cardinal Mark South", ("Indicates safe water to the south.", "/images/buoys/cms.png") },
        { "Cardinal Mark West", ("Indicates safe water to the west.", "/images/buoys/cmw.png") },
        { "Emergency Wreck", ("Marks a newly discovered wreck.", "/images/buoys/w.png") },
        { "Isolated Danger", ("Marks an isolated danger with safe water all around.", "/images/buoys/id.png") },
        { "Port Lateral", ("Marks the port (left) side of a channel.", "/images/buoys/port.png") },
        { "Starboard Lateral", ("Marks the starboard (right) side of a channel.", "/images/buoys/starboard.png") },
        { "Safe Water", ("Indicates there is safe water all around.", "/images/buoys/sw.png") },
        { "Special Mark", ("Indicates a special area or feature.", "/images/buoys/s.png") }
    };
}



<h4>Buoy Types</h4>
<ul class="list-unstyled">
    @foreach (var buoy in buoyTypes)
    {
        <li class="mb-3">
            <strong>@buoy.Key</strong>: @buoy.Value.Description
            <br />
            <img src="@buoy.Value.ImageUrl" alt="@buoy.Key" class="buoy-img" />
        </li>
    }
</ul>

<form id="startTestForm" onsubmit="startTest(); return false;" class="mt-4">
    <button type="submit" class="btn btn-primary">Begin Test</button>
</form>

<p class="text-muted mt-2">You will not be able to return to this page during the test.</p>

<script src="/js/buoys/overview.js"></script>

<style>
    .buoy-img {
        height: 40px;
    }
</style>
