@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="w-100 text-center pt-5 pb-5">
            <h1>Pontius</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 offset-7">
            @{
                var currentUrl = Context.Request.Path.Value?.ToLower();
            }

            <ul>
                <li class="@(currentUrl == "/" ? "current-page" : "")">home</li>
                <li class="@(currentUrl == "/home/startexperiment" ? "current-page" : "")">start experiment</li>
                <li class="@(currentUrl == "/home/faq" ? "current-page" : "")">frequently asked questions</li>
                <li class="@(currentUrl == "/home/statistics" ? "current-page" : "")">statistics</li>
            </ul>
        </div>
    </div>
</div>