@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="w-100 text-center pt-5 pb-5">
            <h1>Pontius</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 offset-7">
            <ul>
                <li>home</li>
                <li>begin experiment</li>
                <li>frequently asked questions</li>
                <li>statistics</li>
            </ul>
        </div>
    </div>
</div>