@{
    ViewData["Title"] = "Create";
}


<form id="createAccountForm" onsubmit="createAccount(); return false;">

    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" id="emailAddress" name="emailAddress" value="email@email.com" required />

        <label for="password">Choose a Password</label>
        <input type="password" class="form-control" id="password" name="password" value="testpassword" required />
    </div>

    <button type="submit" class="btn btn-primary">Create Research Account</button>

</form>

No personal data will be collected from you at any point during these experiments.

<script src="/js/account/create.js"></script>