@{
    ViewData["Title"] = "Experiment - Start";
}


<form id="registerForm" onsubmit="startExperiment(); return false;">

    <button type="submit" class="btn btn-primary">Start</button>

</form>

<script src="/js/experiment/start.js"></script>