body {
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

ul {
  list-style-type: "- ";
}

ul .current-page {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gold;
}